<% content_for :title do %>TC dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="teamcity_artifactory_plugin_release" data-view="TeamCity" data-unordered="true" data-title="Artifactory Release"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="teamcity_artifactory_plugin_trunk" data-view="TeamCity" data-unordered="true" data-title="Artifactory Trunk"></div>
    </li>
  </ul>
</div>  